Origin: HTTC
Label: BXBOS
Codename: {{SUITE}}
Architectures: {{ARCH}} source
Components: main
Description: Repository for Wanna-build

Origin: HTTC
Label: BXBOS
Codename: {{SUITE}}-proposed-updates
Architectures: {{ARCH}} source
Components: main
Description: Repository for Wanna-build

Origin: HTTC
Label: BXBOS
Codename: {{SUITE}}-updates
Architectures: {{ARCH}} source
Components: main
Description: Repository for Wanna-build

