deb     {{MIRROR}}    {{SUITE}}-updates main contrib
deb-src {{MIRROR}}    {{SUITE}}-updates main contrib

deb     [trusted=yes] {{MIRROR}} {{SUITE}}-proposed-updates main contrib
deb-src [trusted=yes] {{MIRROR}} {{SUITE}}-proposed-updates main contrib

deb     [trusted=yes] {{MIRROR}} {{SUITE}} main contrib
deb-src [trusted=yes] {{MIRROR}} {{SUITE}} main contrib

deb-src [trusted=yes] {{UPDATE_MIRROR}}
